@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'Star-Wars';
    src: url('../public/Starjedi-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Star-Wars-Outline';
    src: url('../public/StarJedi-Outline.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Star-Jedi-Hollow';
    src: url('../public/StarJedi-Hollow.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sub-background: #1E2123;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  /* background-color: rgba(var(--background-end-rgb), 0.5); */
  background-image: url('../public/repoBG2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2rem;
  font-family: 'Star-Wars';
  -webkit-text-stroke: 2px black;
  text-shadow:
    -1px -1px 0 #F5ED17,
    1px -1px 0 #F5ED17,
    -1px 1px 0 #F5ED17,
    3px 3px 0 #F5ED17;
}

.left {
  height: 100%;
  width: 100%;
  background-color: red;
  position: relative;
}
.right {
  height: 100%;
  width: 100%;
  background-color: red;
}

.crawl-text {
  transform: perspective(200px) rotateX(20deg);
  animation: crawl 30s linear infinite;
  overflow: hidden;
  /* font-size: 2em; */
}

@keyFrames crawl {
  0% {
    transform: perspective(200px) rotateX(20deg) translateY(200px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: perspective(200px) rotateX(20deg) translateY(-250px);
    opacity: 1;
  }
}



 
